/*
 * Copyright (c) 2014, 2015 FUKAUMI Naoki <naobsd@gmail.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "rk3288.dtsi"

/ {
	memory {
		device_type = "memory";
		reg = <0 0x80000000>;
	};

	ext_gmac: external-gmac-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
		clock-output-names = "ext_gmac";
	};

/*key definition 1 for Lang Swift Key*/
	key1: adc-key {
		compatible = "rockchip,key";		
		io-channels = <&saradc 2>;

		lang-key {
			/*linux: KEY_F13*/
			linux,code = <183>;
			label = "lang-a";
			rockchip,adc_value = <1>;
		};
	};

/*key definition 2 for*/
	key2: adc-keys {
		compatible = "rockchip,key";		
		io-channels = <&saradc 1>;

		/*Translation Key*/
		main-key {
			gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
			/*linux: KEY_RECORD*/
			linux,code = <167>;
			label = "record";
		};

		/*Volume Up*/
		vol-up-key {
			/*linux: KEY_VOLUMEUP*/
			linux,code = <115>;
			label = "volume up";
			rockchip,adc_value = <1>;
		};

		/*Volume Down*/
		vol-down-key {
			/*linux: KEY_VOLUMEDOWN*/
			linux,code = <114>;
			label = "volume down";
			rockchip,adc_value = <170>;
		};
	};

/*
 Declare a sound card
   hw:0,0 => TFA9890, speaker
   hw:0,1 => eS814, mic
*/
	sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,firefly-codec";
		simple-audio-card,mclk-fs = <512>;

		simple-audio-card,dai-link@0 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s>;
			};

			codec {
				sound-dai = <&nxp_tfa9890_amp>;
			};
		};

		simple-audio-card,dai-link@1 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s>;
			};

			codec {
				sound-dai = <&spi_es814>;
			};
		};
	};

	vbat_wl: vcc_sys: vsys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_5v: usb-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;
	};

	vcc_host_5v: usb-host-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&host_vbus_drv>;
		regulator-name = "vcc_host_5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		vin-supply = <&vcc_5v>;
	};

	vcc_otg_5v: usb-otg-regulator {
		compatible = "regulator-fixed";
		enable-active-low;
		gpio = <&gpio0 12 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&otg_vbus_drv>;
		regulator-name = "vcc_otg_5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		vin-supply = <&vcc_5v>;
	};
};

&cpu0 {
	cpu0-supply = <&vdd_cpu>;
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	disable-wp;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk>, <&emmc_cmd>, <&emmc_pwr>, <&emmc_bus8>;
	vmmc-supply = <&rk818_vcc33_io>;
	vqmmc-supply = <&rk818_vcc_18>;
	status = "okay";
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";

	vdd_cpu: syr827@40 {
		compatible = "silergy,syr827";
		fcs,suspend-voltage-selector = <1>;
		reg = <0x40>;
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <1350000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-enable-ramp-delay = <300>;
		regulator-ramp-delay = <8000>;
		vin-supply = <&vcc_sys>;
	};

/*RK818-1 PMIC*/
	rk818: rk818@1c {
		compatible = "rockchip,rk818";
		status = "okay";
		reg = <0x1c>;
		clock-output-names = "xin32k", "wifibt_32kin";
		interrupt-parent = <&gpio0>;
		interrupts = <4 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int>;
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;

		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc6-supply = <&vcc_sys>;
		vcc7-supply = <&vcc_sys>;
		vcc8-supply = <&vcc_sys>;
		vcc9-supply = <&rk818_vcc33_io>;

		regulators {
			rk818_vdd_cpu: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-ramp-delay = <0>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};
			rk818_vdd_gpu: DCDC_REG2 {
				regulator-name = "vdd_gpu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-ramp-delay = <0>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1200000>;
				};
			};

/* no need to set this, rejected by system
			rk818_vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1250000>;
				regulator-max-microvolt = <1250000>;
				regulator-ramp-delay = <0>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1200000>;
				};
			};
*/
			rk818_vcc33_io: DCDC_REG4 {
				regulator-name = "vcc33_io";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <2800000>;
				};
			};

			rk818_vccio_pmu: LDO_REG1 {
				regulator-name = "vccio_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			rk818_vcc_tp: LDO_REG2 {
				regulator-name = "vcc_tp";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			rk818_vdd_10: LDO_REG3 {
				regulator-name = "vdd_10";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			rk818_vcc18_lcd: LDO_REG4 {
				regulator-name = "vcc18_lcd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			rk818_vccio_sd: LDO_REG5 {
				regulator-name = "vccio_sd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			rk818_vdd10_lcd: LDO_REG6 {
				regulator-name = "vdd10_lcd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			rk818_vcc_18: LDO_REG7 {
				regulator-name = "vcc_18";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			rk818_vcca_codec: LDO_REG8 {
				regulator-name = "vcca_codec";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			rk818_vcc_wl: LDO_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc_wl";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			rk818_vcc_lcd: SWITCH_REG {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_lcd";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};
		};
		battery {
		        compatible = "rk818-battery";
		        ocv_table = <3345 3678 3693 3718 3755 3772 3776 3780 3785 3795 3811 3838 3881 3908 3930 3962 3977 4033 4079 4093 4156>;
		        design_capacity = <600>;
		        design_qmax = <630>;
		        max_overcharge = <100>;
		        bat_res = <154>;
		        max_input_current  = <2000>;
		        max_chrg_current = <630>;
		        max_chrg_voltage = <4200>;
		        sleep_enter_current = <300>;
		        sleep_exit_current = <300>;
		        power_off_thresd = <3400>;
		        zero_algorithm_vol = <3850>;
		        fb_temperature = <105>;
			sample_res = <20>;
			max_soc_offset = <60>;
			energy_mode = <0>;
			monitor_sec = <5>;
		        virtual_power = <0>;
		        power_dc2otg = <0>;
		};
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";

/*NXP tfa9890 amp using i2c2*/
	nxp_tfa9890_amp: nxp_tfa9890_amp@34 {
		compatible = "nxp,tfa9890";
		reg = <0x34>;
		clock-names = "mclk";
		clocks = <&cru SCLK_I2S0_OUT>;
		#sound-dai-cells = <0>;
		reset-gpio = <&gpio6 6 GPIO_ACTIVE_LOW>;
		power-gpio = <&gpio6 7 GPIO_ACTIVE_HIGH>;
	};
};

&i2c4 {
	status = "okay";

/*Side LED, response to battery status*/
	bat_led@31 {
		compatible = "ti,lp5562";
		reg = <0x31>;
		label = "ili:rgb:bat";
		clock-mode = /bits/8 <2>;
		chan0 {
			chan-name = "BAT-R";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			linux,default-trigger = "battery-charging";
		};

		chan1 {
			chan-name = "BAT-G";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			linux,default-trigger = "battery-full";
		};
	};

/*Status RGB LED, turn on R LED as default a power on*/
	user_led@30 {
		compatible = "ti,lp5562";
		reg = <0x30>;
		label = "ili:rgb:user";
		clock-mode = /bits/8 <2>;
		chan0 {
			chan-name = "USER-R";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			linux,default-trigger = "default-on";
		};

		chan1 {
			chan-name = "USER-G";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
		};

		chan2 {
			chan-name = "USER-B";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
		};
	};
};

&i2c5 {
	status = "okay";
};

&i2s {
	#sound-dai-cells = <0>;
	status = "okay";
};


&pinctrl {
	pcfg_output_high: pcfg-output-high {
		output-high;
	};

	pcfg_output_low: pcfg-output-low {
		output-low;
	};

	pcfg_pull_none_drv_8ma: pcfg-pull-none-drv-8ma {
		drive-strength = <8>;
	};

	pcfg_pull_up_drv_8ma: pcfg-pull-up-drv-8ma {
		bias-pull-up;
		drive-strength = <8>;
	};

	rk818 {
		pmic_int: pmic_int {
			rockchip,pins = <0 4 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	usb_host {
		host_vbus_drv: host-vbus-drv {
			rockchip,pins = <0 14 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usbhub_rst: usbhub-rst {
			rockchip,pins = <8 3 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	usb_otg {
		otg_vbus_drv: otg-vbus-drv {
			rockchip,pins = <0 12 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-bluetooth {
		uart0_gpios: uart0-gpios {
			rockchip,pins = <4 19 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&saradc {
	vref-supply = <&rk818_vcc_18>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_clk>, <&spi0_cs0>, <&spi0_tx>, <&spi0_rx>, <&spi0_cs1>;
	max-freq = <48000000>;
	vspi0-supply = <&rk818_vccio_pmu>;
	status = "okay";

/*Knowles eS814 using spi*/
	spi_es814: spi_es814@00 {
		compatible = "earSmart-codec";
		reg = <0>;
		spi-max-frequency = <12000000>;
		adnc,reset-gpio = <&gpio5 17 GPIO_ACTIVE_LOW>;
		adnc,wakeup-gpio = <&gpio5 18 GPIO_ACTIVE_LOW>;
		adnc,extclk-gpio = <&gpio5 19 GPIO_ACTIVE_HIGH>;
		adnc,i2s-en-gpio = <&gpio6 6 GPIO_ACTIVE_LOW>;
		adnc,i2s-sw-gpio = <&gpio6 7 GPIO_ACTIVE_LOW>;
		adnc,adnc,spi-wdb-speed = <4000000>;
		adnc,spi-fw-download-speed = <12000000>;
		adnc,spi-operational-speed = <4000000>;
		clock-names = "mclk";
		clocks = <&cru SCLK_I2S0_OUT>;
		#sound-dai-cells = <0>;
                spi-cpha;
		//spi-cpol;
                poll_mode = <0>;
	        type = <0>;
		enable_dma = <0>;
	};
};

&tsadc {
	rockchip,hw-tshut-mode = <0>;
	rockchip,hw-tshut-polarity = <0>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer>, <&uart0_cts>;
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&usbphy {
	status = "okay";
};

&usb_host1 {
	pinctrl-names = "default";
	pinctrl-0 = <&usbhub_rst>;
	status = "okay";
};

&usb_otg {
	status = "okay";
};

&wdt {
	status = "okay";
};
